.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFF;
  padding: 2rem;
  overflow: hidden;
}

.home:-webkit-scrollbar {
  display: none;                
}

.presentation {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.presentation p {
  max-width: 600px;
  text-align: center;
  line-height: 1.6;
}

.profile-pic {
  border-radius: 50%;
}

.technos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 4fr));
  gap: 1.5rem;
  max-width: 500px;
  margin-top: 1rem;
  justify-items: center;
  justify-content: center;

}

.tech-item img {
  max-width: 100%;
}
